<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>293434521975-9k0ssajbc8b0s8budn4hdjm2ppjenps6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293434521975-9k0ssajbc8b0s8budn4hdjm2ppjenps6</string>
	<key>API_KEY</key>
	<string>AIzaSyAcesieh38VJvYPUQ1ixO9dXty7DaNu2bM</string>
	<key>GCM_SENDER_ID</key>
	<string>293434521975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>s.coffee888</string>
	<key>PROJECT_ID</key>
	<string>coffee8888-26be4</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee8888-26be4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:293434521975:ios:f9ec5e9a6eb489db</string>
	<key>DATABASE_URL</key>
	<string>https://coffee8888-26be4.firebaseio.com</string>
</dict>
</plist>
